@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

html, body {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.content {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-flow: column;*/
/*}*/

/*.wrapper {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.button {*/
/*    display: flex;*/
/*    padding: 10px 45px;*/
/*    margin: 20px;*/
/*    text-decoration: none;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-size: 40px;*/
/*    color: white;*/
/*    background: #b392ac;*/
/*    transition: 1s;*/
/*    box-shadow: 6px 6px 0 black;*/
/*    transform: skewX(-15deg);*/
/*    cursor: pointer;*/
/*    width: fit-content;*/
/*    text-align: center;*/
/*}*/

/*.button:focus {*/
/*    outline: none;*/
/*}*/

/*.button:hover {*/
/*    transition: 0.5s;*/
/*    box-shadow: 10px 10px 0 #DDC67B;*/
/*}*/

/*span {*/
/*    transform: skewX(15deg)*/
/*}*/

/*.default_cursor {*/
/*    cursor: default;*/
/*}*/