@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

html, body {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(200deg, #16161b, #212129);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*padding-top: 4vw;*/
}