@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

html, body {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}