@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

:root {
    --letter-size: 40px;
    --letter-padding: 20px;
    --tooltip-size: 15px;
}

.letters {
    position: relative;
    margin-left: 30vw;
    max-height: 0;
    width: 100%;
    margin-bottom: 150px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(21, var(--letter-size));
    grid-template-rows: repeat(5, calc(var(--letter-size) * 2));
}

.icon {
    margin: 0;
    padding: 0;
    grid-column: span 2;
    cursor: pointer;
}

.row-1 {
    grid-column: 2 / span 2;
}

.row-2 {
    grid-column: 3 / span 2;
}

.wrapper .icon {
    position: relative;
    color: #c4c3ca;
    background-color: #28282f;
    border-radius: 50%;
    font-size: max(calc(var(--letter-size) - 15px), 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-sizing: border-box;
}

.icon {
    width: calc(var(--letter-size) + var(--letter-padding));
    height: calc(var(--letter-size) + var(--letter-padding));
}

.icon span {
    font-weight: bold;
}

.tooltips .tooltip, div.icon.clicked .tooltip {
    display: none;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: var(--tooltip-size);
    color: #c4c3ca;
    background-color: #28282f;
    padding: calc(var(--tooltip-size) / 4) calc(var(--tooltip-size) / 2.2);
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    color: #c4c3ca;
    background-color: #28282f;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -40px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.smooth-spawn {
    animation: smooth-spawn;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes smooth-spawn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0 -1px 0 rgba(255 0 0 / 99%);
}

.wrapper .letter:hover,
.wrapper .letter:hover .tooltip,
.wrapper .letter:hover .tooltip::before {
    color: #c4c3ca;
    background-color: #323949;
}

.wrapper .letter:visited {
    background-color: darkgray;
}

.clicked {
    background-color: #3030308c !important;
    filter: opacity(50%);
    cursor: default;
}

.hide {
    display: none;
}

.letter:active {
    border: solid 4px #4c5265;
    box-sizing: border-box;
}

.border_letter {
    border: solid 4px #4c5265;
    transition: all 0.5s;
}

.word_text {
    padding-left: 20px;
    height: 48px;
    width: 18vw;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #28282f;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
    font-family: "Poppins", sans-serif;
}

.images {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

img {
    width: 20%;
}