{{define "lose"}}
<div class="game-over">
    <div class="game-over-title">
        <h1>Game Over</h1>
    </div>
    <div class="game-over-score">
        <h2>Le mot était : {{.Word}}</h2>
    </div>
    <a class="button" href="/?reload=true">
        <span>Retour</span>
    </a>
</div>
{{end}}