{{define "rules"}}
    <a class="button default_cursor">
        <span>Avec 10 tentatives, essayez de découvrir
        <br>le mot caché avec le célèbre jeu du
        <br>pendu !</span>
    </a>
    <a class="button" href="/">
        <span>Retour</span>
    </a>
{{end}}