{{define "win"}}
    <div class="win">
        <div class="win-content">
            <div class="win-title">
                <h1>Tu as gagné</h1>
            </div>
            <div class="win-body">
                    Bravo, tu as gagné !<br>
                    Tu as trouvé le bon mot : {{.Word}}<br>
            </div>
            <a class="button" href="/">
                <span>Retour</span>
            </a>
        </div>
    </div>
{{end}}